<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Configurar cuenta</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <label for="exampleInputEmail1">Correo electrónico</label>
        <%= f.email_field :email, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Nueva contraseña</label>
        <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Confirmar nueva contraseña</label>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <h3>Cancelar cuenta</h3>

    <p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, class: "btn btn-warning" %></p>

    <%= link_to "Atrás", :back %>
  </div>
</div>
